.header{
    height: 90vh;

   border-bottom: 3px solid #bfde42 ;
   background-image: url(../../assests/img/bg.png);
   background-repeat: no-repeat;
   background-position-y:bottom;
   background-position-x: right;
   background-size: 40%;
    
}
